<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test-Suite">
    <test name="TaskTest">
        <classes>
            <class name="Task.Assignment.TheTest">
                <methods>
                    <include name="Tests"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
